* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #3a5a40;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 15%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    gap: 2em;
}

.btn {
    flex: 1 0 auto;
    min-width: 150px;
    max-width: 200px;
    height: 3em;
    border: 2px solid #dad7cd;
    border-radius: 30px;
    font-size: 1.2em;
    color: #dad7cd;
    background-color: #588157;
}

.score,
.roundResult,
.gameResult {
    font-size: 2.5em;
    color: #dad7cd;
}

.score {
    margin: 0;
}